<div
  class="post-card"
  (mouseenter)="_hover = true"
  (mouseleave)="_hover = false"
>
  <img
    *ngIf="thumbnail"
    [src]="thumbnail"
    [alt]="post?.title"
    class="post-card--thumbnail"
  />
  <div class="post-card--title">{{ post?.title }}</div>
  <div class="post-card--description">{{ post?.description }}</div>
  <div class="post-card--meta">
    {{ post?.date | date: "mediumDate" }}
  </div>
  <div *ngIf="tags" class="post-card--tags">
    <span *ngFor="let tag of tags" class="post-card--tags--tag">{{ tag }}</span>
  </div>
</div>
