@import "../../../scss/colors";

.posts {
  display: flex;
  flex-direction: column;

  .posts--header {
    color: $green;
    font-family: "Retro Gaming";
    font-size: 48px;
    padding: 0 50px 15px 50px;

    @media (max-width: 700px) {
      font-size: 24px;
    }
  }

  .posts--list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0 35px;

    @media (min-width: 700px) and (max-width: 1400px) {
      padding: 0 20px;
    }

    @media (max-width: 700px) {
      padding: 0 15px;
    }

    .posts--list--card {
      margin: 25px 15px;

      @media (min-width: calc((400px + 30px) * 5)) {
        flex: 0 1 400px;
      }

      @media (min-width: 1600px) and (max-width: calc((400px + 30px) * 5)) {
        flex: 0 1 calc(25% - 30px);
      }

      @media (min-width: 1400px) and (max-width: 1600px) {
        flex: 0 1 calc(33.33% - 30px);
      }

      @media (min-width: 700px) and (max-width: 1400px) {
        margin: 20px 7px;
        flex: 0 1 calc(50% - 14px);
      }

      @media (max-width: 700px) {
        margin: 15px 0;
        flex: 0 1 100%;
      }
    }
  }
}
