@import "../../../scss/colors";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: linear-gradient(127.54deg, $dark-blue-3 63.9%, $dark-blue-5 100%);

  .home {
    flex: 1;
    display: flex;
    flex-direction: row;

    .home--panel {
      flex: 0 1 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-color: $dark-blue-4;
      position: relative;
      padding: 0 50px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 16px;
        background: url(../../../assets/decorations/panel_border.svg);
      }

      .home--panel--whoami {
        font-family: "Retro Gaming";
        font-size: 32px;
        line-height: 41px;
        margin: 40px 0 20px 0;
      }

      .home--panel--bio {
        font-family: "Instructions";
        font-weight: 500;
        font-size: 24px;
        line-height: 21px;
      }
    }
  }
}
