<div class="home">
  <div class="home--panel">
    <jvdev-avatar></jvdev-avatar>
    <div class="home--panel--whoami">
      Hi,<br />I'm <span class="accent-yellow">Jose Veiga,</span><br />Frontend Engineer @ <span class="accent-blue">Swimlane</span>
    </div>
    <div class="home--panel--bio">
      Minim laborum aliquip aliqua non enim duis ad aliquip duis adipisicing. Amet in anim nostrud culpa esse deserunt. Magna id fugiat aliqua excepteur mollit nisi est voluptate aliquip. Cupidatat laboris aliquip id id voluptate cupidatat non irure velit in ullamco pariatur. Esse aute voluptate exercitation amet occaecat. Cupidatat veniam consectetur anim elit.
    </div>
  </div>
</div>
