@import "scss/colors";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

@font-face {
  font-family: "Retro Gaming";
  src: url("assets/fonts/Retro\ Gaming.ttf");
}

@font-face {
  font-family: "Instructions";
  src: url("assets/fonts/Instructions.ttf");
}

// Theme
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  margin: 0;
  background: $dark-blue-2;
  color: white;
}

.accent-pink {
  color: $pink;
}

.accent-blue {
  color: $blue;
}

.accent-yellow {
  color: $yellow;
}
